{% for block in blocks.values() %}
{%- if block.fields %}
&{{ '{' }}{{page.component_id}}_{{ block.name | upper | replace(" ","_") }}_FIELDS{{ '}' }}
{%- for label, name, type in block.fields %}
...    {{ label }}={{ name }}:{{ type | replace(" ","") }}
{%- endfor -%}
{%- endif -%}

{% endfor %}