{% for region in regions.values() %}
{%- if region.fields %}
&{{ '{' }}{{page.component_id}}_{{ region.name_rf }}_FIELDS{{ '}' }}
{%- for label, name, type in region.fields %}
...    {{ label | replace("  ", " ")}}={{ name }}:{{ type | replace(" ","") }}
{%- endfor -%}
{%- endif -%}

{% endfor %}